<header class="header__container">
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-list-item">
        <a class="header__nav-list-item-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="header__nav-list-item">
        <a
          class="header__nav-list-item-link"
          href="https://www.linkedin.com/in/jo%C3%A3o-mendes-jorge-barata-ribeiro-645073118/"
          target="_blank"
          rel="noopener noreferrer"
          >LinkedIn</a
        >
      </li>
      <li class="header__nav-list-item">
        <a
          class="header__nav-list-item-link"
          href="https://github.barataribeiro.com/"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </li>
      <li class="header__nav-list-item">
        <a
          class="header__nav-list-item-link"
          href="https://barataribeiro.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Portfolio</a
        >
      </li>
    </ul>
  </nav>
</header>
